## Final Project Submission

Please fill out:
* Student name: Calvine Dasilver
* Student pace: full time
* Scheduled project review date/time: N/A
* Instructor name: Nikita
* Blog post URL:

# BOX OFFICE INSIGHTS FOR MICROSOFT STUDIOS

## 1. INTRODUCTION
## 1.1 Overview


 This document outlines the initial steps for Microsoft's foray into the film industry. Recognizing the growing trend of original content creation, Microsoft aims to establish a new movie studio. However, lacking film industry expertise, they require market research to guide their content strategy.

## 1.2 Objectives

### a) General Objective
  
  
  
  Through exploration and analysis of top-performing films at the box office, this project aims to provide actionable insights for Microsoft's new movie studio regarding film genre selection.

### b) Specific Objectives




 <li> Data understanding

 <li> Importing useful libraries

 <li> Retrieving data from a DataFrame

 <li> Data cleaning

 <li> Exploratory data analysis

 <li> Data visualization
 
 <li> Conclusions and Recommendations

## 2.Data Source

#### In the folder '_zippedData_' are movie datasets from:

i. Box Office MojoLinks to an external site.

ii. IMDBLinks to an external site.

iii. Rotten TomatoesLinks to an external site.

iv. TheMovieDBLinks to an external site.

v. The NumbersLinks to an external site.

#### Features of IMDB dataset consist of 8 tables 

| indexes | Table |
|---|---|
| 1. | movie_basics |
| 2. | Known_for |
| 3. | Movie_akas |
| 4. | Movie_ratings |
| 5. | directors |
| 6. | Persons |
| 7. | Principals |
| 8. | Writers |

## <li> Data Understanding


The dataset used for this project contains information about film box office revenues including variables such as release dates, genres, budgets and revenues. Explanatory data analysis techniques will be used to get clear understanding of the dataset including handling missing values, checking data types, identifying outliers and placeholder values and also extracting relevant features for analysis.

The business problems that the project would like to answer are listed below :

1.What types of movies do audiences favor? How long do popular films tend to be?

2.What is the relationship between Financial Performance of a Movie and Financial Return on a Movie.

3.The Influence of Reviews and Ratings on Movie Audiences.

## <li> Importing Usefull Libraries

Import libraries with aliases for data manipulation

In [3]:
# Your code here
import pandas as pd
import numpy as np
import sqlite3
import csv
import json
from datetime import datetime

## 2.1 Importing the datasets

#### Datasets:

movie_gross_df = pd.read_csv('zippedData\\bom.movie_gross.csv.gz')

movies_gross = pd.read_csv('zippedData/bom.movie_gross.csv')

tmd = pd.read_csv('zippedData/tmdb.movies.csv',index_col=0)

reviews = pd.read_csv('zippedData/rt.reviews.tsv', delimiter='\t',encoding='unicode_escape')

conn = sqlite3.connect('zippedData/im.db')

movie_info = pd.read_csv('zippedData/rt.movie_info.tsv', delimiter ='\t', encoding='unicode_escape' )

creating varriable named _conn_ that connects sqlite database file named '_zippedData\im.db_'.This _conn_ will be what you use to interact with the data in the databae

In [14]:
conn = sqlite3.connect('zippedData\im.db')
conn

##### 2.1.1 Loading the data from "movie_gross.csv" and exploring

The "bom dataset" provides details about how much money movies made at the box office, both domestically (in the country where the movie was produced) and in foreign markets (outside the movie's home country). This dataset typically includes information such as the title of the movie, the amount of money it earned domestically, and the amount it earned in foreign markets. This information can be useful for understanding the financial success of movies and analyzing trends in the film industry.

In [21]:
#Load the data from bom.movie_gross.csv into a dataframe
movie_gross_df = pd.read_csv('zippedData\\bom.movie_gross.csv.gz')
movie_gross_df.head(20)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010
10,Clash of the Titans (2010),WB,163200000.0,330000000,2010
11,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010
12,The King's Speech,Wein.,135500000.0,275400000,2010
13,Tron Legacy,BV,172100000.0,228000000,2010
14,The Karate Kid,Sony,176600000.0,182500000,2010
15,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010
16,Black Swan,FoxS,107000000.0,222400000,2010
17,Megamind,P/DW,148400000.0,173500000,2010
18,Robin Hood,Uni.,105300000.0,216400000,2010
19,The Last Airbender,Par.,131800000.0,187900000,2010

In [23]:
#shape of the dataframe
movie_gross_df.shape

(3387, 5)

In [16]:
#find the information of the dataframe
movie_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [19]:
#find the overview of the domestic_gross
movie_gross_df['domestic_gross'].describe()

count    3.359000e+03
mean     2.874585e+07
std      6.698250e+07
min      1.000000e+02
25%      1.200000e+05
50%      1.400000e+06
75%      2.790000e+07
max      9.367000e+08
Name: domestic_gross, dtype: float64

In [20]:
#find the overview of the foreign_gross
movie_gross_df['foreign_gross'].describe()

count        2037
unique       1204
top       1200000
freq           23
Name: foreign_gross, dtype: object

In [34]:
#number of studios in the dataframe
movie_gross_df['studio'].value_counts()

IFC      166
Uni.     147
WB       140
Fox      136
Magn.    136
        ...
Truly      1
SEA        1
EF         1
FOR        1
TVC        1
Name: studio, Length: 257, dtype: int64

In [35]:
#the year duration
movie_gross_df['year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)