## Final Project Submission

Please fill out:
* Student name: Calvine Dasilver
* Student pace: full time
* Scheduled project review date/time: N/A
* Instructor name: Nikita
* Blog post URL:

# BOX OFFICE INSIGHTS FOR MICROSOFT STUDIOS

## 1. INTRODUCTION
## 1.1 Overview


 This document outlines the initial steps for Microsoft's foray into the film industry. Recognizing the growing trend of original content creation, Microsoft aims to establish a new movie studio. However, lacking film industry expertise, they require market research to guide their content strategy.

## 1.2 Objectives

### a) General Objective
  
  
  
  Through exploration and analysis of top-performing films at the box office, this project aims to provide actionable insights for Microsoft's new movie studio regarding film genre selection.

### b) Specific Objectives




 <li> Data understanding

 <li> Importing useful libraries

 <li> Retrieving data from a DataFrame

 <li> Data cleaning

 <li> Exploratory data analysis

 <li> Data visualization
 
 <li> Conclusions and Recommendations

## 2.Data Source

#### In the folder '_zippedData_' are movie datasets from:

i. Box Office MojoLinks to an external site.

ii. IMDBLinks to an external site.

iii. Rotten TomatoesLinks to an external site.

iv. TheMovieDBLinks to an external site.

v. The NumbersLinks to an external site.

#### Features of IMDB dataset consist of 8 tables 

| indexes | Table |
|---|---|
| 1. | movie_basics |
| 2. | Known_for |
| 3. | Movie_akas |
| 4. | Movie_ratings |
| 5. | directors |
| 6. | Persons |
| 7. | Principals |
| 8. | Writers |

## <li> Data Understanding


The dataset used for this project contains information about film box office revenues including variables such as release dates, genres, budgets and revenues. Explanatory data analysis techniques will be used to get clear understanding of the dataset including handling missing values, checking data types, identifying outliers and placeholder values and also extracting relevant features for analysis.

The business problems that the project would like to answer are listed below :

1.What types of movies do audiences favor? How long do popular films tend to be?

2.What is the relationship between Financial Performance of a Movie and Financial Return on a Movie.

3.The Influence of Reviews and Ratings on Movie Audiences.

## <li> Importing Usefull Libraries

Import libraries with aliases for data manipulation

In [2]:
# Your code here
import pandas as pd
import numpy as np
import sqlite3
import csv
import json
from datetime import datetime

## 2.1 Importing the datasets

#### Datasets:

movie_gross_df = pd.read_csv('zippedData\\bom.movie_gross.csv.gz')

movie_budgets_df = pd.read_csv('zippedData\\tn.movie_budgets.csv.gz')

tmd = pd.read_csv('zippedData/tmdb.movies.csv',index_col=0)

reviews = pd.read_csv('zippedData/rt.reviews.tsv', delimiter='\t',encoding='unicode_escape')

conn = sqlite3.connect('zippedData/im.db')

movie_info = pd.read_csv('zippedData/rt.movie_info.tsv', delimiter ='\t', encoding='unicode_escape' )

creating varriable named _conn_ that connects sqlite database file named '_zippedData\im.db_'.This _conn_ will be what you use to interact with the data in the databae

In [3]:
conn = sqlite3.connect('zippedData\im.db')
conn

##### 2.1.1 Loading the data from "movie_gross.csv" and exploring

The "bom dataset" provides details about how much money movies made at the box office, both domestically (in the country where the movie was produced) and in foreign markets (outside the movie's home country). This dataset typically includes information such as the title of the movie, the amount of money it earned domestically, and the amount it earned in foreign markets. This information can be useful for understanding the financial success of movies and analyzing trends in the film industry.

In [4]:
#Load the data from bom.movie_gross.csv into a dataframe
movie_gross_df = pd.read_csv('zippedData\\bom.movie_gross.csv.gz')
movie_gross_df.head(20)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010
10,Clash of the Titans (2010),WB,163200000.0,330000000,2010
11,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010
12,The King's Speech,Wein.,135500000.0,275400000,2010
13,Tron Legacy,BV,172100000.0,228000000,2010
14,The Karate Kid,Sony,176600000.0,182500000,2010
15,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010
16,Black Swan,FoxS,107000000.0,222400000,2010
17,Megamind,P/DW,148400000.0,173500000,2010
18,Robin Hood,Uni.,105300000.0,216400000,2010
19,The Last Airbender,Par.,131800000.0,187900000,2010

In [5]:
#shape of the dataframe
movie_gross_df.shape

(3387, 5)

In [6]:
#find the information of the dataframe
movie_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [7]:
#find the overview of the domestic_gross
movie_gross_df['domestic_gross'].describe()

count    3.359000e+03
mean     2.874585e+07
std      6.698250e+07
min      1.000000e+02
25%      1.200000e+05
50%      1.400000e+06
75%      2.790000e+07
max      9.367000e+08
Name: domestic_gross, dtype: float64

In [8]:
#find the overview of the foreign_gross
movie_gross_df['foreign_gross'].describe()

count        2037
unique       1204
top       1200000
freq           23
Name: foreign_gross, dtype: object

In [9]:
#number of studios in the dataframe
movie_gross_df['studio'].value_counts()

IFC          166
Uni.         147
WB           140
Fox          136
Magn.        136
            ...
ParC           1
Gaatri         1
MUBI           1
Cleopatra      1
OMNI/FSR       1
Name: studio, Length: 257, dtype: int64

In [10]:
#the year duration
movie_gross_df['year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [11]:
#drop the rows without gross values
movie_gross_df.dropna(subset=['foreign_gross','domestic_gross'], inplace=True)
movie_gross_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3275,I Still See You,LGF,1400.0,1500000,2018
3286,The Catcher Was a Spy,IFC,725000.0,229000,2018
3309,Time Freak,Grindstone,10000.0,256000,2018
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0,5200,2018
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200.0,30000,2018

In [12]:
#check for missing values
missing_values = movie_gross_df[['domestic_gross', 'foreign_gross']].isnull().sum()
missing_values

domestic_gross    0
foreign_gross     0
dtype: int64

In [13]:
(movie_gross_df['foreign_gross'].dtype)

dtype('O')

In [14]:
# Remove commas and convert the foreign_gross column to float
movie_gross_df['foreign_gross'] = movie_gross_df['foreign_gross'].str.replace(',', '').astype(float)

In [15]:
# Fill missing values with the median
movie_gross_df['foreign_gross'].fillna(movie_gross_df['foreign_gross'].median(), inplace=True)

# Now, perform aggregation again
movie_gross_df[['domestic_gross', 'foreign_gross']].agg(['median', 'mean'])

        domestic_gross  foreign_gross
median    1.650000e+07   1.930000e+07
mean      4.697311e+07   7.571822e+07

##### 2.1.1 Loading the data from "movie_budgets.csv" and exploring

In other aspect, lets call it the "numbers dataset".The "Numbers dataset" provides data on the financial aspects of various projects or investments, specifically focusing on budgets and returns. This dataset typically includes information such as the initial budget allocated for a project or investment, as well as the returns or profits generated from it. By analyzing this data, one can gain insights into the financial performance of different projects or investments and make informed decisions regarding resource allocation, profitability, and risk management.

In [17]:
#Load the data from tn.movie_budgets.csv into a dataframe
movie_budgets_df = pd.read_csv('zippedData\\tn.movie_budgets.csv.gz')
movie_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [22]:
movie_budgets_df.shape #checking the total number of records and series

(5782, 6)

In [27]:
# converting data from one type (typically a string or object) to a numeric type (such as integer or float)
# Define the columns to be converted
columns_to_convert = ['production_budget', 'domestic_gross', 'worldwide_gross']

# Convert each column to numeric type
for column in columns_to_convert:
    movie_budgets_df[column] = movie_budgets_df[column].replace('[^.0-9]', '', regex=True).astype('float')

movie_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00
5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00
5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05

In [28]:
movie_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 271.2+ KB

In [29]:
#find the overview of the dataframe 'movie_budgets_df
movie_budgets_df.describe()

                id  production_budget  domestic_gross  worldwide_gross
count  5782.000000       5.782000e+03    5.782000e+03     5.782000e+03
mean     50.372363       3.158776e+07    4.187333e+07     9.148746e+07
std      28.821076       4.181208e+07    6.824060e+07     1.747200e+08
min       1.000000       1.100000e+03    0.000000e+00     0.000000e+00
25%      25.000000       5.000000e+06    1.429534e+06     4.125415e+06
50%      50.000000       1.700000e+07    1.722594e+07     2.798445e+07
75%      75.000000       4.000000e+07    5.234866e+07     9.764584e+07
max     100.000000       4.250000e+08    9.366622e+08     2.776345e+09

In [30]:
#Displaying the mean and median for 'production_budget','domestic_gross','worldwide_gross'
movie_budgets_df[['production_budget','domestic_gross','worldwide_gross']].agg(['median', 'mean'])

        production_budget  domestic_gross  worldwide_gross
median       1.700000e+07    1.722594e+07     2.798445e+07
mean         3.158776e+07    4.187333e+07     9.148746e+07

To find out the budget of a movie, we start by determining the international gross. We calculate the international gross by subtracting the domestic gross (the money the movie made in its home country) from the worldwide gross (the total money the movie made globally). This calculation gives us an estimate of how much money the movie earned outside of its home country.

In [32]:
movie_budgets_df['international_gross'] = movie_budgets_df['worldwide_gross'] - movie_budgets_df['domestic_gross']
cols = list(movie_budgets_df.columns)

movie_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,international_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.015838e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,8.046000e+08
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,1.070000e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,9.440081e+08
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,6.965404e+08
...,...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00,0.000000e+00
5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05,1.920130e+05
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03,0.000000e+00
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00,0.000000e+00
5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05,0.000000e+00

if the release date in your dataset is stored as an object (usually meaning it's in a text format), and you want to filter or perform operations based on the year, you need to convert it to a datetime type. This conversion allows you to manipulate the dates more easily, such as extracting the year or filtering data based on specific years.

In [34]:
#your code here
movie_budgets_df['year'] = pd.to_datetime(movie_budgets_df['release_date'], errors='coerce').dt.strftime('%Y')
movie_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,international_gross,year
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09,2.015838e+09,2009
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,8.046000e+08,2011
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,1.070000e+08,2019
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,9.440081e+08,2015
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,6.965404e+08,2017
...,...,...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000.0,0.0,0.000000e+00,0.000000e+00,2018
5778,79,"Apr 2, 1999",Following,6000.0,48482.0,2.404950e+05,1.920130e+05,1999
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03,0.000000e+00,2005
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400.0,0.0,0.000000e+00,0.000000e+00,2015
5781,82,"Aug 5, 2005",My Date With Drew,1100.0,181041.0,1.810410e+05,0.000000e+00,2005